.flex-container{
    display:flex;
    
}

.board-container{
    height: 100%;
    width: 100%;
}

.flex-column{
    flex-direction: column;
}

.square{
    width: 200px;
    height: 200px;
    border: 2px solid lightgreen;
    display: inline-block;
    background-position: center;
    background-size: 150px;
}

.square:hover{
    background-color: floralwhite;
    opacity: 0.5;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.board{
    width: 618px;
}

.start{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgreen;
    border: none;
}

.reset{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgreen;
    border: none;
}

h1{
    color: #800000;
    text-align: center;
    font-weight: bold;
}

.css-selector {
    font-family: 'Play', sans-serif;
    font-size: 45px;
}

.spaceship1 {
    background: url('https://raw.githubusercontent.com/SkwibHub/skwibhub.github.io/master/spaceship-red.png');
}

.spaceship2 {
    background: url('https://raw.githubusercontent.com/SkwibHub/skwibhub.github.io/master/spaceship-yellow.png');
}


body {
    font-size: 150px;
    text-align: center;
    
}








